* {
	font-family: "Roboto", Arial, sans-serif;
	font-weight: bolder;
	color: var(--color-black);
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

p {
	font-weight: 500;
}

:root {
	--color-primary: #ed4d1b;
	--color-seconday: #ff9a3c;
	--color-black: #000;
	--color-white: #fff;
}

body {
	width: 100%;
	height: 800px;
	display: block;
	padding: 0 1rem;
	background: linear-gradient(90deg, #ffe7d1 0%, #fff2e6 100%);
}

header,
.main-section,
.courses-section,
footer {
	border: 1px solid var(--color-black);
}

.header {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 20px;
	gap: 20px;
}

.header .logo-img {
	display: block;
}

.header .navbar {
	display: flex;
	width: 60%;
	min-width: 330px;
	align-items: center;
	flex-grow: 0.2;
	margin: 0px 5px;
	padding: 0px 40px;
}

.header .navbar .link {
	text-decoration: none;
	width: auto;
	font-weight: 600;
	font-size: 1.2em;
	color: var(--color-black);
	padding: 0 10px;
}

.button {
	min-width: 114px;
	max-height: 38px;
	text-align: center;
	background-color: var(--color-primary);
	font: normal bolder 0.8em "Roboto", Arial;
	text-transform: uppercase;
	padding: 10px 20px;
	border: 2px solid var(--color-black);
	box-shadow: 4px 4px 0px var(--color-black);
	white-space: nowrap;
	letter-spacing: 1px;
}

.main-section {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
}

.main-section .band-img {
	position: relative;
	width: 100%;
}

.main-section .get-started {
	display: table;
	width: 100%;
	max-height: 60%;
	height: 100%;
	padding-left: 24px;
	padding-bottom: 20px;
}

.get-started h1 {
	font-weight: 900;
	font-size: 3.4em;
	color: var(--color-black);
	margin-bottom: 32px;
}

.get-started p {
	line-height: 1.5em;
	margin-bottom: 32px;
}

.get-started .arrow {
	height: 40px;
	position: relative;
	display: block;
	transform: rotate(-1deg);
	left: 35%;
}

.courses-section {
	padding: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.courses-section .card-section {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 16px;
	width: 100%;
}

.courses-section .card-section .orange {
	background-color: var(--color-primary);
	bottom: 30px;
}

.courses-section .card-section .yellow {
	background-color: var(--color-seconday);
}

.card {
	display: table;
	width: 272px;
	height: 306px;
	padding: 20px;
	border-radius: 0%;
	border: 2px solid var(--color-black);
	box-shadow: 4px 4px 0px var(--color-black);
}

.card .top-card .card-icon {
	width: 48px;
	height: 48px;
}

.top-card {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	gap: 16px;
}

.top-card h1 {
	font-size: 1.5em;
	font-weight: 900;
	letter-spacing: 1px;
}

.card .arrow-right {
	height: 60px;
	position: relative;
	left: 75%;
}

.courses-section aside {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
	margin: 40px 0px;
}

.courses-section aside p {
	display: inline-block;
	white-space: nowrap;
	font-size: 4em;
	text-align: center;
}

.footer-section {
	padding: 1em 1.5em;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.footer-section .logo-description {
	width: 240px;
}

.footer-section .navbar {
	display: block;
	padding: 0;
}

.footer-section .navbar .link {
	display: block;
	color: var(--color-black);
	text-decoration: none;
	font-weight: 500;
	font-size: 20px;
	margin: 20px 40px;
}

form {
	display: flex;
	flex-direction: column;
}

form .email-box {
	height: 48px;
	margin: 32px 0;
	border: 2px solid var(--color-black);
	box-shadow: 4px 4px 0px var(--color-black);
}

form .button {
	width: fit-content;
}

@media only screen and (max-width: 768px) {
	.header {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.header .navbar {
		justify-content: center;
		align-items: center;
	}

	.header .navbar .link{
		text-align: center;
		flex-basis: 40%;
		max-width: 120px;
	}

	.main-section {
		flex-direction: column;
	}
}

/* utilitary properties */

.text-contrast {
	color: var(--color-primary);
}

.margin-20 {
	margin-bottom: 20px;
}

.font-24 {
	font-size: 24px;
}
